<script>
  require("@rails/ujs").start()
  require("turbolinks").start()
  require("@rails/activestorage").start()
  require("channels")
</script>
<body>
  
  <div class="sidebar">
    <img src="https://st2.depositphotos.com/1031343/5867/v/380/depositphotos_58676587-stock-illustration-catering-stamp.jpg?forcejpeg=true" class="img-logo" style="width:200px;">
    <a class="active" href="/"><h5>Home</h5></a>
    <a href="/orders">Orders</a>
    <a href="/about">About</a>
    <button class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">Database</button>
  </div>
  <div class="content-wrapper">
    <div class="content-container">
      <h2>CATERING SERVICE.</h2>
      <div class="food-wrapper border-2">
        <% @foods.each do |food| %>
        <div class="parent">
          <div class="child" style="width: 18rem;">
            <% if food.category == "food"%>
              <img src="https://image-cdn.medkomtek.com/Dd70gq8gbttDcJLDEbkVD2wbvoo=/640x640/smart/klikdokter-media-buckets/medias/2321296/original/049998000_1605579809-Waspada_-Inilah-Deretan-Penyakit-Akibat-Junk-Food-shutterstock_537665956.jpg" class="card-img-top" alt="...">
            <% elsif food.category == "beverage"%>
              <img src="https://i.pinimg.com/originals/d6/fa/e8/d6fae83663966ccb64f8810df5c5634e.png" class="card-img-top" alt="...">
            <% end%>
            <div class="card-body">
              <div class="card-wrapper">
                <h4>(<%=food.id%>)<%= food.name %></h4>
              </div>
            </div>
          </div>
          <div class="info-wrapper">
            <h5>Rp. <%= food.price %></h5>
            <a class="btn btn-danger" href="/foods/<%=food.id%>" role="button">Show</a>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</body>

<!-- Modal -->

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Database</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-striped" style="width:100%;>
        <thead class="table-dark" style="background:#c12217;">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Category</th>
            <th scope="col" style="width:50%;">Description</th>
            <th scope="col">Price</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <% @foods.each do |food| %>
            <tr>
              <td class="id" ><%= food.id %></td>
              <td class="name" ><%= food.name %></td>
              <td class="category" ><%= food.category %></td>
              <td class="description" ><%= food.description %></td>
              <td class="price" >Rp. <%= food.price %></td>
              <td class="button">
                <a class="btn btn-primary" href="/<%=food.id%>/edit" role="button">Edit</a>
                <%= button_to "Delete", foods_delete_path(food.id), :method => 'delete', :class => 'btn btn-danger'%>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <a class="btn btn-primary" href="foods/new" role="button">Add</a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

