<body>
  <div class="sidebar">
    <a class="active" href="/"><h5>Home</h5></a>
    <a href="/orders">Orders</a>
    <a href="#about">About</a>
  </div>
  <div class="top-wrapper">
    <h2>Create an Item</h2>
  </div>
  <div class="form">
    <%= form_with model: @food do |form| %>
    <div class="mb-3">
      <%= form.text_field :name, placeholder: "name", :class => 'form-control' %>
    </div> 
    <div class="mb-3">
      <%= form.text_field :category, placeholder: "category" , :class => 'form-control' %>
    </div>
    <div class="mb-3">
      <%= form.text_field :description, placeholder: "description" , :class => 'form-control' %>
    </div>
    <div class="mb-3">
      <%= form.text_field :price, placeholder: "price" , :class => 'form-control' %>
    </div>
  <%= form.submit%>
<% end %>
  </div>
</body>